@media screen and (max-width: 480px) {

*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
body{
font-family: helvetica;
font-size: 16px;
color: black;
}
.ancho{
max-width: 480px;
margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    column-gap: 220px;
    /* border: 1px red solid; */
    padding: 10px 0px 10px 0px;
}

header img {
    margin-left: 15px;
    margin-top: 15px;
}


header i {
    font-size: 40px;
    font-weight: 700;
    color: #ff4048;
    margin-right: 10px;
    margin-bottom: 5px;
}

.contenedor_menu {
    display: block;
  }
nav {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: left;
align-content: center;
background-color: #ff4048;

padding: 25px 0px 30px 0px;
}
nav a {
text-decoration: none;
color: white;
border-bottom: 1px white dotted;
width: 415px;
margin-left: 20px;
margin: 3px 0px 3px 20px;
font-weight: 500;
font-size: small;
padding-bottom: 3px;
}

/* FOR SLIDE */

.rslides {
position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}

.rslides li {
-webkit-backface-visibility: hidden;
position: absolute;
display: none;
width: 100%;
left: 0;
top: 0;
}

.rslides li:first-child {
position: relative;
display: block;
float: left;
}

.rslides img {
display: block;
height: auto;
float: left;
width: 100%;
border: 0;
}

/* fin */

.callbacks_container {
position: relative;
margin:auto;
/* border: 1px red solid; */
position: relative;
}

.slide_derecha {
    position: absolute;
    left: 90%;
    top: 47%;
    z-index: 30;
}
.slide_izquierda {
    position: absolute;
    left: 3%;
    top: 47%;
    z-index: 30;
}

.callbacks_container i {
    font-size: 45px;
}

.callbacks_container img{
height:350px;
object-fit:cover;
}
.callbacks_container ul {
margin:0px;
}

.caption {
position: absolute;
z-index: 2;
text-align: center;
font-size: 30px;
text-shadow: 0px 0px 10px #333;
color: #fff;
left: 47%;
top: 75%;
width: 325px;
padding: 13px 23px 13px 28px;
transform: translate(-50%, -50%);
background-color: rgba(51, 51, 51, 0.774);
text-align: right;
}

.texto2 {
    text-align: center;
    padding: 15px 10px 15px 10px;
    margin-top: 30px;
}

.texto3{
    text-align: left;
    margin-top: 30px;
    width: 200px;
    left: 30%;
}

.callbacks_nav {
position: absolute;
top: 51%;
left: 0;
opacity: 0.7;
z-index: 3;
text-indent: -9999px;
overflow: hidden;
text-decoration: none;
height: 50px;
width: 30px;
margin-top: -18px;
margin-inline: 15px;
/* border: 1px blue solid; */
z-index: 30;
}
.callbacks_nav.next {
left: auto;
background-position: right top;
right: 0;
}

.Seccion1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 30px;
    /* border: 1px red solid; */
}

.Seccion1 h1 {
    padding: 20px 0px 20px 0px;
    font-weight: 600;
    color: #ff4048;
}

.contenedor_titulo{
    position: relative;
    margin-bottom: 18px;
}

.barra_azul {
    height: 4px;
    width: 65px;
    background-color: blue;
    position: absolute;
    left: 33%;
    top: 80%;
}

.Seccion1 article {
    width: 350px;
    height: 370px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Seccion1 article div {
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 5px #f5f5f5  solid;
    border-radius: 10px;

    width: 90px;
    height: 90px;

    margin-bottom: 20px;
}
.Seccion1 article i {
    font-size: 50px;
    color: #ff4048;
}

.Seccion1 article p {
    width: 220px;
    text-align: center;
}

.Seccion1 a {
    display: inline-block;
}


.Seccion2 {
    background-image: url(imagenes/foto_parallaxs.jpg);
    margin-top: 70px;
    background-position: center center;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.Seccion2 div {
    text-align: right;
    padding-right: 80px;
    padding-top: 50px;
}

.Seccion2 h1{
    font-size: 60px;
    text-align: right;
color: white;
margin-bottom: 320px;
font-weight: 600;
}

.Seccion2 .tex_orange{
    color: #ff4048;
}

.Seccion2 a {
    border: 1px red solid;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    color: white;
    background-color: #ff4048;
    font-size: larger;
}

.Seccion2 {
    margin-bottom: 35px;
}

.Seccion2 a {
    display: inline-block;
}

#galeria {
margin: auto;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: nowrap;
width: 475px;
margin-bottom: 35px;
background-color: #f5f5f5;
padding-top: 10px;
padding-bottom: 10px;
}
#galeria a {
margin: 15px;
filter: brightness(60%);
}
#galeria img {
width: 200px;
height: 150px;
object-fit: cover;
border: 1px blue solid;
}

.img3 {
display: none;
}
.img4{
display: none;
}
}

footer {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 3px #ff4048 solid;
}

footer div {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 5px #f5f5f5 solid;
}

footer div i {
    color: #ff4048;
    font-weight: 900;
}

footer a {
    display: inline-block;
}